 <div class="col-md-4">
		<figure class="card card-product-grid card-lg">
			<a href="#" class="img-wrap" data-abc="true"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571750967/Ecommerce/ef192a21ec96.jpg"></a>
			<figcaption class="info-wrap">
   					<div class="row">
   						<div class="col-md-8">
   							<a href="#" class="title" data-abc="true">ASUS Laptop - 5GB RAM</a>
   						</div>

   						<div class="col-md-4">

   							<div class="rating text-right">
   								<i class="fa fa-star"></i>
   								<i class="fa fa-star"></i>
   								<i class="fa fa-star"></i>
   								
   							</div>
   						</div>
   					</div>					
			</figcaption>
			<div class="bottom-wrap">
				<a href="#" class="btn  btn-primary float-right" data-abc="true"> Buy now </a>
				<div class="price-wrap">
					<span class="price h5">$999</span> <br> <small class="text-success">Free shipping</small>
				</div>
			</div> 
		</figure>
	</div>