@using System.Globalization
@model OnlineShop.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<div class="row pt-4">
        <div class="col-6">
            <h2>Edit Product</h2>
		</div>
       <div class="col-6 text-end">            
             <a asp-action="Index" class="btn btn-dark">Back to List</a>
		</div>
	</div>
    <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListPrice" class="control-label"></label>
                <input asp-for="ListPrice" class="form-control" />
                <span asp-validation-for="ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
               @* <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>*@
                <input asp-for="ImageUrl" class="form-control" type="file" name="newfile" id="imagefile">
                @*<span asp-validation-for="ImageUrl" class="text-danger"></span>*@
            </div>  
           
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>

            </div>
             @{
                        CultureInfo ci = CultureInfo.InvariantCulture;
                        string LastUpdate = Model.LastUpdateDate.ToString("dd-MMM-yyyy hh:mm tt", ci);
                    }
             <div class="form-group">
                <label asp-for="LastUpdateDate" class="control-label"></label>
                <input asp-for="@LastUpdate" class="form-control"  disabled />               

            </div>
            <div class="form-group">
                <label></label>
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
